html, body { height: 100%; margin: 0; padding: 0;}
#map { height: 100%; width: 100%; left: 0%; }
#menu {
  position: absolute;
  top: 3%;
  width: 288px;
  height: 95%;
  right: 3%;
  z-index: 1;
  background-color: black;
  padding: 1px;
  border: 1px solid #999;
  font-family: 'Roboto','sans-serif';
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: scroll;
}
.show {
  display: inline-block;
}
.hide {
  display: none;
}
.Title {
  text-align: center;
  line-height: 30px;
  border: 2px solid red;
  border-radius: 8px;
  background-color: #FF0000;
}
.Subtitle {
  padding-left: 5px;
  text-align: left;
  line-height: 10px;
  color: #ffffff;
}

#searchmenu button{
  display: inline-block;
  vertical-align: bottom;
}
#Calendar {

}

.head {
    list-style-type: none;
    width: 100%;
    background: #443939;
    margin: 0;
    padding: 0;
}

.head li {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.head .prev {
    list-style-type: none;
    float: left;
    padding-top: 10px;
}

.head .next {
    list-style-type: none;
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 0 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 14.2%;
    color: #666;
    text-align: center;
    font-size: 12px;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 14.2%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.days li .instant {
    padding: 5px;
    color: #1abc9c
}

.days li .selected {
    padding: 5px;
    background: red;
}


#timeSection{
  display: inline-block;
  width: 100%;
}

.label{
  color: white;
}
a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}

a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    height: 20%;
    overflow: scroll;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}


#coordinates {
  padding-left: 5px;
  min-width: 270px;
}
